<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/main.css">

    <title>Blogger</title>
</head>
<body>
    
<nav>
    <a href="/">Blogger</a>
    <div class="menu">
        <a href="/">Home</a>
        <a href="/write">Write</a>
        <a href="/read">Read</a>
    </div>
</nav>

<main>