<%- include('partials/header.ejs') %>

<h1>Welcome to the Blogger!</h1>
<h3>What do you want to do today?</h3>
<div class="spacer"></div>
<div class="container">
    <a class="link-btn str" href="/read">Read Blogs</a>
    <a class="link-btn str" href="/write">Write a Blog</a>
</div>
<%- include('partials/footer.ejs') %>