<%- include('partials/header.ejs') %>

<h1>Your Blogs!</h1>

<% if(locals.blogs && Object.values(blogs).length > 0) {%>
    <% Object.values(blogs).forEach(function(blog) { %>
        <%- include('partials/card.ejs', { blog: blog }) %>
    <% }); %>
<% } else { %>
    <h3>You don't have blogs for now 😢</h3>
    <div class="container">
        <a class="link-btn str" href="/">Return to Home Page</a>
        <a class="link-btn str" href="/write">Write a Blog</a>
    </div>
<% } %>

<%- include('partials/footer.ejs') %>